// Warning: Do not remove the following line.
// vyos-config-version: "bgp@1:broadcast-relay@1:cluster@1:config-management@1:conntrack@2:conntrack-sync@2:dhcp-relay@2:dhcp-server@5:dhcpv6-server@1:dns-forwarding@3:firewall@5:https@2:interfaces@20:ipoe-server@1:isis@1:l2tp@3:lldp@1:mdns@1:nat@5:nat66@1:ntp@1:pppoe-server@5:pptp@2:qos@1:quagga@9:rpki@1:salt@1:snmp@2:ssh@2:sstp@3:system@21:vrf@2:vrrp@2:vyos-accel-ppp@2:wanloadbalance@3:webproxy@2:zone-policy@1"
// Release version: 1.4-rolling-202106011750
interfaces {
    {% if router_id -%}
    loopback lo {
       address {{ router_id }}/32
    }
    {%- endif %}
    {%- for iface in eth_interfaces %}
    ethernet {{ iface.name }} {
        address {{ iface.address }}
        description "{{ iface.description }}"
        ipv6 {
            address {
                no-default-link-local
            }
        }
    }
    {%- endfor %}
}
system {
    host-name '{{ hostname }}'
    ipv6 {
        disable
    }
    {%- if has_users %}
    login {
        {%- for user in users %}
        user {{ user.user }} {
            authentication {
                plaintext-password {{ user.password }}
            }
        }
        {%- endfor %}
    }
    {%- endif %}
}
{%- if has_protocols %}
protocols {
    {% if has_isis -%}
    isis {
        level level-2
        log-adjacency-changes
        metric-style wide
        net {{ isis_net }}
        {%- for iface in eth_interfaces %}
        {%- if iface.is_isis %}
        interface {{ iface.name }} {
            hello-padding
            {%- if iface.isis_metric %}
            metric {{ iface.isis_metric }}
            {%- endif %}
            network point-to-point
        }
        {%- endif %}
        {%- endfor %}
        redistribute {
            ipv4 {
                connected {
                    level-2 {
                        metric 2
                    }
                }
            }
        }
    }
    {%- endif %}
}
{% endif %}
{% if has_users or has_snmp -%}
service {
    {% if has_snmp -%}
    snmp {
        {% for community in snmp -%}
        {% if community.version == "v2c" -%}
        community {{ community.community }} {
            authorization ro
        }
        {% endif -%}
        {%- endfor %}
    }
    {% endif -%}
    {% if has_users -%}
    ssh {
        access-control {
            allow {
                {% for user in users -%}
                user {{ user.user }}
                {%- endfor %}
            }
        }
    }
    {% endif -%}
}
{% endif -%}