interfaces {
    {% if router_id -%}
    loopback lo {
       address {{ router_id }}/32
    }
    {%- endif %}
    {%- for iface in eth_interfaces %}
    ethernet {{ iface.name }} {
        address {{ iface.address }}
        description "{{ iface.description }}"
        ipv6 {
            address {
                no-default-link-local
            }
        }
    }
    {%- endfor %}
}
system {
    host-name '{{ hostname }}'
    ipv6 {
        disable
    }
    {%- if has_users %}
    login {
        {%- for user in users %}
        user {{ user.user }} {
            authentication {
                plaintext-password {{ user.password }}
            }
        }
        {%- endfor %}
    }
    {%- endif %}
}
{%- if has_protocols %}
protocols {
    {% if has_isis -%}
    isis {
        level level-2
        log-adjacency-changes
        metric-style wide
        net {{ isis_net }}
        {%- for iface in eth_interfaces %}
        {%- if iface.is_isis %}
        interface {{ iface.name }} {
            hello-padding
            {%- if iface.isis_metric %}
            metric {{ iface.isis_metric }}
            {%- endif %}
            network point-to-point
        }
        {%- endif %}
        {%- endfor %}
        redistribute {
            ipv4 {
                connected {
                    level-2 {
                        metric 2
                    }
                }
            }
        }
    }
    {%- endif %}
}
{% endif %}
{% if has_users or has_snmp -%}
service {
    {% if has_snmp -%}
    snmp {
        {% for community in snmp -%}
        {% if community.version == "v2c" -%}
        community {{ community.community }} {
            authorization ro
        }
        {% endif -%}
        {%- endfor %}
    }
    {% endif -%}
    {% if has_users -%}
    ssh {
        access-control {
            allow {
                {% for user in users -%}
                user {{ user.user }}
                {%- endfor %}
            }
        }
    }
    {% endif -%}
}
{% endif -%}
// Warning: Do not remove the following line.
// vyos-config-version: "bgp@6:broadcast-relay@1:cluster@2:config-management@1:conntrack@6:conntrack-sync@2:container@3:dhcp-relay@2:dhcp-server@11:dhcpv6-server@6:dns-dynamic@4:dns-forwarding@4:firewall@20:flow-accounting@3:https@7:ids@2:interfaces@34:ipoe-server@4:ipsec@14:isis@3:l2tp@9:lldp@3:mdns@1:monitoring@2:nat@8:nat66@3:nhrp@1:ntp@3:openconnect@3:openvpn@5:ospf@2:pim@1:policy@9:pppoe-server@12:pptp@5:qos@3:quagga@12:reverse-proxy@3:rip@1:rpki@2:salt@1:snmp@3:ssh@3:sstp@6:system@32:vpp@6:vrf@4:vrrp@4:vyos-accel-ppp@2:wanloadbalance@4:webproxy@2"
// Release version: 999.202604291439
